
        body
        {
            background-color: #1c1c1c;
            display: flex;
            align-items: center;
            justify-content: center;height: 100vh;
            color:white;
            font-size: 2rem;
        }
        .cont
        {
            display:grid;
            width:330px;
            height:580px;
            padding: 30px;
            grid-template-columns: 75px 75px 75px 75px;
            grid-template-rows:140px 75px 75px 75px 75px 75px;
            row-gap: 10px;
            column-gap: 10px;
            border: 2px solid grey;
            border-radius: 40px;
             
        }
        .box
        {
            height:130px;
            width:330px;
            background-color:#2E2F32;
            grid-column: 1/-1;
            border:1px solid grey ;
            border-radius: 20px;
            display:flex;
            justify-content: center;
            align-items: center;
        }
         .div0,.div1,.div2,.div3,.div4,.div5,.div5,.div6,.div7,.div8,.div9
        {
         width:75px;
         height: 75px;
         background-color: #2E2F32;
         color:white;
         display:flex;
         align-items: center;
         justify-content: center;
        border-radius: 50%;
        border:1px solid grey;
        font-size: 2rem;
        font-family: sans-serif;

        }

         .ac
        {
        width:75px;
        height: 75px;
        background-color: #245aba;
        color:white;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border:1px solid grey;
        font-size: 2rem;
        font-family: sans-serif;
        }
      
         .mod,.di,.plus,.br,.mul,.minus,.dot
        {
         width: 75px;
         height: 75px;
         background-color: #4A4A4A;
         color:white;
         display:flex;
         align-items: center;
         justify-content: center;
        border-radius: 50%;
        border:1px solid grey;
          font-size: 2rem;
        font-family: sans-serif;
        }
      
        
        .cancel
        {
         width:75px;
         height: 75px;
         background-color: #2E2F32;
         color:white;
         display:flex;
         align-items: center;
         justify-content: center;
        border-radius: 50%;
        border:1px solid grey;
        font-size: 2rem;
         font-family: sans-serif;
        }
        .equal
        {
         width:75px;
         height: 75px;
         background-color: #b957b9;
         color:white;
         display:flex;
         align-items: center;
         justify-content: center;
        border-radius: 50%;
        border:1px solid grey;
        font-size: 2rem;
        }
